@media only screen and (max-width: 1200px) {
  #main-page .logo img {
    width: 100%; }

  #contact .map {
    display: block; } }
@media only screen and (max-width: 565px) {
  h1::before, h1::after {
    width: 100%; } }

    
@media (max-width: 830px) {
  body{
    width: fit-content;
    margin: auto;
  };
  .navbar-header {
    float: none; }

  .navbar-left {
    float: none !important; }

  .navbar-right {
    float: right !important;
    text-align: right; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes jump {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  40% {
    transform: translateY(20px); }
  50% {
    transform: translateY(0); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif; }

body {
  background: linear-gradient(to bottom, transparent 80%, #FFFFFF), url("../img/tlo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
a {
  color: #EFEFEF; }

h1 {
  text-transform: uppercase;
  margin: 40px 0 50px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center; }
  h1::before, h1::after {
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 0 20px; }

h2 {
  color: #171c20;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px; }

.dark::before {
  background: linear-gradient(90deg, #171c20, #CFD2D2); }
.dark::after {
  background: linear-gradient(90deg, #CFD2D2, #171c20); }

.light::before {
  background: linear-gradient(90deg, white, #171c20); }
.light::after {
  background: linear-gradient(90deg, #171c20, white); }

ul {
  list-style-type: circle; }

section {
  padding: 20px 0 50px 0; }
  section:focus {
    outline-color: transparent; }

.sticky {
  padding-top: 0;
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0;
  z-index: 3;
  background-color: white;
  border-bottom: #CFD2D2 1px solid;
  border-radius: 0; }
  .sticky .fa-bars {
    color: #666666; }
  .sticky #main-nav .nav-a {
    color: #666666; }
    .sticky #main-nav .nav-a:hover {
      border-bottom: 1px solid #666666;
      color: #666666; }
    .sticky #main-nav .nav-a:focus {
      border-bottom: 1px solid;
      color: #666666; }
  .sticky .navbar-header img {
    content: url("../img/logo-aparat-czarne.png"); }

nav {
  border-radius: 0;
  padding: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  border: transparent; }
  nav .fa-bars {
    color: #EFEFEF; }

#main-nav li {
  padding: 15px 14px 0 14px; }

#main-nav .nav-a {
  text-transform: uppercase;
  font-size: 20px;
  padding: 3px 5px;
  border-bottom: 1px solid transparent;
  display: inline-block; }
  #main-nav .nav-a:hover {
    border-bottom: 1px solid #EFEFEF;
    color: #EFEFEF;
    background-color: transparent; }
  #main-nav .nav-a:focus {
    border-bottom: 1px solid #EFEFEF;
    color: #EFEFEF;
    background-color: transparent; }

#main-page {
  height: 100%;
  top: -70px;
  position: relative;
  text-align: center; }
  #main-page .logo {
    padding-top: 70px;
    margin: 0; }
    #main-page .logo img {
      width: 400px; }
  #main-page a {
    position: absolute;
    bottom: 80px;
    text-align: center;
    -webkit-animation: jump 1.5s ease 0s infinite normal;
    animation: jump 1.5s ease 0s infinite normal; }
    #main-page a i {
      color: #171c20;
      font-size: 45px;
      opacity: 0.5; }
      #main-page a i:hover {
        color: #586363; }

#offert {
  background-image: url("../img/ofertaHN.jpg");
  height: 95%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #171c20;
  font-size: 17px;
  text-align: center; }
  #offert .offert-text {
    text-align: center;
    margin: 80px 0;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 30px;
    padding: 15px; }
    #offert .offert-text .offert-title {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px 0; }
  #offert .contact-btn-container {
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
    padding: 15px 0; }
    #offert .contact-btn-container .contact-button {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      color: #171c20;
      padding: 15px; }
      #offert .contact-btn-container .contact-button i {
        padding-left: 20px; }
      #offert .contact-btn-container .contact-button:hover {
        color: #4E5057; }

#area {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 40px 0; }

#portfolio {
  color: #171c20;
  text-align: center;
  padding-bottom: 50px; }

.photo-thumbb, .photo-thumbb > img, .photo-overlay, .photo-overlay > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.photo-thumbb {
  position: relative;
  margin-bottom: 20px; }
  .photo-thumbb .photo-overlay {
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
    .photo-thumbb .photo-overlay:hover {
      opacity: 0.9; }
    .photo-thumbb .photo-overlay .photo-overlay-btn {
      padding: 5px 0;
      display: table;
      margin: 0 auto; }
      .photo-thumbb .photo-overlay .photo-overlay-btn a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        color: black;
        font-size: 20px;
        padding: 0 5px; }
        .photo-thumbb .photo-overlay .photo-overlay-btn a:hover {
          border-bottom: 1px solid black; }

#about {
  font-family: 'Raleway', sans-serif;
  margin-top: -70px;
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: 500;
  font-size: 16px;
  text-align: center; }
  #about .fa-stack {
    margin-bottom: 15px;
    font-size: 60px;
    color: #666666; }

#contact {
  text-align: center;
  background-color: #000000;
  color: #CFD2D2;
  font-size: 17px; }
  #contact .container .form-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px; }
    #contact .container .form-cont .label-cont {
      font-weight: 400; }
    #contact .container .form-cont .input-cont {
      width: 100%;
      background-color: #EFEFEF;
      color: #171c20;
      border: none; }
    #contact .container .form-cont textarea {
      background-color: #EFEFEF;
      color: #171c20;
      width: 100%;
      height: 100px;
      resize: vertical; }
    #contact .container .form-cont button {
      text-transform: uppercase;
      font-weight: 500; }
  #contact .container .item {
    margin-bottom: 10px; }
    #contact .container .item .fa-stack {
      margin-bottom: 5px; }
  #contact .container .fa-inverse {
    color: #171c20; }

footer {
  background-color: rgba(23, 28, 31, 0.9);
  height: 40px;
  padding: 10px 0;
  color: #CFD2D2; }

  @media (max-width: 1024px) and (min-width:767px) {
    .col-lg-4.col-sm-8{
      width: 33%;
    }
  }
/*# sourceMappingURL=style.css.map */
